/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  outline: 1px dashed lightgrey;
}
body {
  color: #434343;
  background-color: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.1;
  font-size: 13px;
}
@media (min-width: 992px) {
  body {
    font-size: 15px;
  }
}
.container-fluid {
  padding: 0;
}
h1 {
  font-size: 40px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 60px;
  }
}
article h1 {
  font-size: 21px;
  font-weight: 900;
}
h2 {
  font-size: 30px;
}
@media (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: #434343;
}
a:hover {
  text-decoration: none;
  color: #1c5699;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  float: left;
  width: 20%;
}
@media (min-width: 768px) {
  .col-sm-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    float: left;
    width: 20%;
  }
}
/* ------------------------------------------ */
/* UI KIT
/* ------------------------------------------ */
button,
.btn {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  color: #1c5699;
  border: none;
  border: 2px solid #1c5699;
  border-radius: 3px;
  background: none;
  font-weight: 900;
}
button:hover,
.btn:hover,
button:active,
.btn:active {
  color: #ffffff;
  border: 2px solid #1c5699;
  background: #1c5699;
}
button:disabled,
.btn:disabled {
  color: #acacac;
  border: 2px solid #acacac;
  background: none;
}
button:disabled:hover,
.btn:disabled:hover,
button:disabled:active,
.btn:disabled:active {
  color: #acacac;
  border: 2px solid #acacac;
  background: none;
}
button:hover,
.btn:hover,
button:active,
.btn:active {
  outline: none;
}
button:hover::before,
.btn:hover::before,
button:active::before,
.btn:active::before {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: "";
  border: 2px solid #ffffff;
  border-radius: 3px;
  background: none;
}
.btn-primary {
  width: 100%;
  max-width: 300px;
  padding: 12px 20px;
  font-size: 17px;
}
.btn-sm {
  width: 100%;
  max-width: 180px;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 700;
}
.btn--white {
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn--white:hover,
.btn--white:active {
  color: #ffffff;
  border: 2px solid #1c5699;
  background: #1c5699;
}
.btn--inacive {
  color: #acacac;
  border: 2px solid #acacac;
}
.btn--inacive:hover,
.btn--inacive:active {
  color: #acacac;
  border: 2px solid #acacac;
}
/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__container {
  position: relative;
}
.header--slider {
  color: #ffffff;
  background-color: #123358;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header--slide-1 {
  background-image: url(../images/slider/slider__item-1.png);
}
.header--slide-2 {
  background-image: url(../images/slider/slider__item-1.png);
}
.header--slide-3 {
  background-image: url(../images/slider/slider__item-1.png);
}
.header--slide-4 {
  background-image: url(../images/slider/slider__item-1.png);
}
.header--slide-5 {
  background-image: url(../images/slider/slider__item-1.png);
}
.header__logo {
  height: auto;
  min-height: auto;
  max-height: none;
}
.header__headings {
  margin-top: 100px;
  margin-bottom: 140px;
  text-align: center;
}
.header__slides {
  position: absolute;
  right: 15px;
  bottom: 0;
}
.header__slides .header__slide {
  display: none;
  background: rgba(1, 20, 49, 0.7);
}
.header__slides .header__slide a {
  display: block;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
}
.header__slides .header__slide--active {
  display: block;
}
/* ------------------------------------------ */
/* ABOUT BLOCK
/* ------------------------------------------ */
.about {
  color: #ffffff;
  background-color: #263c5c;
  background-image: url(../images/about/about--bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about__more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ------------------------------------------ */
/* EVENTS BLOCK
/* ------------------------------------------ */
.events {
  padding-top: 20px;
  padding-bottom: 20px;
}
.events__item {
  font-size: 15px;
  line-height: 20px;
}
.events__item time {
  display: block;
  color: #8d8d8d;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.events__more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ------------------------------------------ */
/* HEADING BLOCK
/* ------------------------------------------ */
.heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.heading h2 {
  margin: 0;
  padding: 0;
  font-weight: 900;
}
/* ------------------------------------------ */
/* KEY PROJECTS BLOCK
/* ------------------------------------------ */
.key-projects {
  padding-top: 20px;
  padding-bottom: 20px;
}
.key-projects__item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
  outline: 1px solid red;
}
/* ------------------------------------------ */
/* MAP BLOCK
/* ------------------------------------------ */
.map {
  position: relative;
  background: #123358;
}
.map .map__item {
  width: 100%;
  min-height: 650px;
}
.map__controls {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  outline: 1px solid red;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ------------------------------------------ */
/* MENU BLOCK
/* ------------------------------------------ */
.menu__item {
  text-transform: uppercase;
}
.menu__item a {
  color: #ffffff;
  font-size: 13px;
}
/* ------------------------------------------ */
/* PARTNERS BLOCK
/* ------------------------------------------ */
.partners {
  padding-top: 20px;
  padding-bottom: 20px;
}
.partners__item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.partners__item a {
  display: inline-block;
}
/* ------------------------------------------ */
/* PROJECTS BLOCK
/* ------------------------------------------ */
.projects {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.projects h1 {
  font-size: 14px;
  font-weight: 900;
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  color: #ffffff;
  background: #123358;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__navigation a {
  color: #ffffff;
}
.footer__navigation a:hover {
  color: #1c5699;
}
