/* ------------------------------------------ */
/* LINKS
/* ------------------------------------------ */
.link,
a:not([class]) {
	cursor: pointer;
	transition: color 0.3s;
	text-decoration: none;

	color: @palette-accent;
	border-bottom: 1px solid rgba(28, 86, 153, 0.3);
	outline: 0 none;

	&:hover,
	&:focus {
		text-decoration: none;

		color: @palette-accent-hover;
		border-bottom: 1px solid rgba(58, 169, 255, 1);
		outline: 0 none;
	}
}

.link {
	&--dotted {
		border-bottom: 1px dotted rgba(28, 86, 153, 0.3);

		&:hover {
			border-bottom: 1px dotted rgba(58, 169, 255, 1);
		}
	}
}
