/* ------------------------------------------ */
/* TABS
/* ------------------------------------------ */
.nav.nav-tabs {
	margin: 0;
	padding: 0;

	border: 0;

	@media (min-width: @screen-sm) {
		border-bottom: 2px solid #cecece;
	}
}

.nav-tabs > li {
	float: none;

	width: 100%;
	margin: 0 10px 0 0;
	padding: 8px 10px;

	transform: translateY(2px);
	text-align: center;

	border-bottom: 1px dashed #cecece;


	@media (min-width: @screen-sm) {
		float: left;

		width: auto;
		padding: 13px 24px 13px;

		border-bottom: 0;
		border-radius: 2px 2px 0 0;;
	}
}

.nav-tabs .active {
	background: @palette-white;

	a {
		font-weight: 800;
	}

	@media (min-width: @screen-sm) {
		border: 2px solid #cecece;
		border-bottom: 0;
	}
}

.nav > li > a {
	display: inline-block;

	padding: 0;

	text-align: center;
	vertical-align: top;

	color: @palette-accent;
	border-bottom: 1px solid transparent;

	font-size: 17px;
	font-weight: 400;
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: @palette-accent;
	border-color: #00aeff;
	outline: 0 none;
	background-color: transparent;
}

.nav-tabs > li > a {
	margin-right: 0;
	margin-bottom: -1px;

	color: @palette-accent;

	line-height: inherit;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border-color: transparent;
	border-bottom: 1px dotted rgba(28, 86, 153, 1);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #231f20;
	border: 0;
	border-bottom: 1px solid transparent;
	outline: 0 none;

	font-weight: 700;
}


.tab-content {
	padding: 20px 0 32px;

	border: none;
}
