/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;

	//outline: 1px dashed lightgrey;
}

body {
	color: @palette-primary;
	background-color: @palette-white;

	font-family: @font-family-primary;

	.font-size-primary;
}

// GRID
.container-fluid {
	padding: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;

	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	float: left;

	width: 20%;
}

@media (min-width: @screen-sm) {
	.col-sm-15 {
		float: left;

		width: 20%;
	}
}

@media (min-width: @screen-md) {
	.col-md-15 {
		float: left;

		width: 20%;
	}
}

@media (min-width: @screen-lg) {
	.col-lg-15 {
		float: left;

		width: 20%;
	}
}
