/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;

	outline: 1px dashed lightgrey;
}

body {
	color: @palette-primary;
	background-color: @palette-secondary;

	font-family: @font-family-primary;

	.font-size-primary;
}

.container-fluid {
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

span {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}
