// ------------------------------------------ //
// VARIABLES
// ------------------------------------------ //

// COLORS
@palette-primary: rgba(67, 67, 67, 1); // #434343
@palette-secondary: rgba(0, 0, 0, 1); // #
@palette-tertiary: rgba(0, 0, 0, 1); // #
@palette-quaternary: rgba(0, 0, 0, 1); // #
@palette-quinary: rgba(18, 51, 88, 1); // #123358

@palette-black: rgba(0, 0, 0, 1); // #000000
@palette-white: rgba(255, 255, 255, 1); // #ffffff
@palette-accent: rgba(28, 86, 153, 1); // #1c5699

// FONTS
@font-family-primary: "Lato", Arial, sans-serif;

// BREAKPOINTS
@tablet-width: 768px;
@desktop-width: 1024px;
