// ------------------------------------------ //
// VARIABLES
// ------------------------------------------ //

// COLORS
@palette-primary: rgba(0, 0, 0, 1);
@palette-secondary: rgba(255, 255, 255, 1);
@palette-tertiary: rgba(0, 0, 0, 1);
@palette-quaternary: rgba(0, 0, 0, 1);
@palette-quinary: rgba(0, 0, 0, 1);
@palette-accent: rgba(0, 0, 0, 1);

// FONTS
@font-family-primary: "Lato", Arial, sans-serif;

// BREAKPOINTS
@tablet-width: 768px;
@desktop-width: 1024px;
