/* ------------------------------------------ */
/* MAP BLOCK
/* ------------------------------------------ */
.map {
	position: relative;

	margin-top: 20px;
	margin-bottom: 35px;

	background: @palette-quinary;

	.map__item {
		width: 100%;
		height: 370px;

		@media (min-width: @screen-md) {
			height: 650px;
		}
	}

	&--projects {
		.map__controls {
			.padding-15;
		}
	}
}

.map__controls {
	width: 100%;

	background: @palette-white;

	.padding-10;

	.form-group {
		margin: 0;
	}

	&--absolute {
		position: absolute;
		z-index: 1;
		top: 0;

		background: rgba(255, 255, 255, 0.9);
	}

	label {
		display: inline-block;

		width: 100%;
		max-width: 75%;
		margin-left: 20px;

		@media (min-width: @screen-sm) {
			width: auto;
		}

		& > span {
			svg {
				display: inline-block;

				vertical-align: middle;
			}

			span {
				display: inline-block;

				vertical-align: middle;
			}
		}
	}

	input[type=checkbox] {
		& + span {
			margin: 0;

			&:before {
				border: 1px solid @palette-accent;
				border-radius: 3px;
			}
		}
	}

	.map__controls-found {
		margin-top: 10px;
		margin-bottom: 10px;

		text-align: center;

		h4 {
			margin: 0;
			padding: 0;

			font-size: 21px;
			font-weight: 900;
		}

		@media (min-width: @screen-sm) {
			margin-top: 0;
			margin-bottom: 0;

			text-align: left;
		}
	}

	.map__controls-reset {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 5px;

		text-align: center;

		@media (min-width: @screen-sm) {
			margin-top: 0;
			margin-bottom: 0;

			text-align: left;
		}
	}

	.map__controls-collapse {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 5px;

		text-align: center;

		@media (min-width: @screen-sm) {
			margin-top: 0;
			margin-bottom: 0;

			text-align: right;
		}
	}
}

.gm-style-iw + div {
	display: none;
}

.map__project-item {
	max-width: 300px;
	margin: 0;
	padding: 1px 20px 20px;

	background: @palette-white;

	h1 {
		font-size: 21px;
		line-height: 22px;

		a {
			text-decoration: none;

			color: @palette-black;
			border: 0;
		}
	}

	span {
		display: block;

		margin-bottom: 5px;

		color: @palette-black;

		font-size: 15px;
		line-height: 1;
	}

	small {
		display: block;

		margin-bottom: 5px;
		margin-bottom: 20px;

		color: #8d8d8d;

		font-size: 13px;
		line-height: 1;
	}
}
