/* ------------------------------------------ */
/* ABOUT BLOCK
/* ------------------------------------------ */
.about {
	position: relative;

	margin-bottom: 25px;
	padding-top: 60px;
	padding-bottom: 25px;

	color: @palette-white;
	background: url(./images/about/about--bg.png) center center;
	background-repeat: no-repeat;
	background-size: cover;

	img {
		display: block;

		width: 80%;
		margin: 0 auto;
	}

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%,-50%);
		text-align: center;
	}

	p {
		text-align: center;
	}
}

.about__text {
	margin-top: 10px;

	p {
		margin: 0;

		font-size: 11px;
		line-height: 14px;
	}
}

.about__item {
	text-align: center;

	color: @palette-white;

	font-size: 18px;
	line-height: 1;

	span {
		display: block;

		font-size: 62px;
		line-height: 1;
	}

	small {
		display: block;

		color: @palette-white;

		font-size: 14px;
		line-height: 1;
	}
}


.about__more {
	text-align: center;

	.padding-20;
}
