/* ------------------------------------------ */
/* BREADCRUMBS BLOCK
/* ------------------------------------------ */
.breadcrumbs {
	padding-top: 15px;
	padding-bottom: 10px;

	.breadcrumbs__items {
		overflow: hidden;

		max-width: 100%;
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	li {
		display: inline-block;

		margin: 0;

		vertical-align: middle;

		&::after {
			display: inline-block;

			width: 11px;
			height: 7px;
			margin: 0 10px;

			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0"><path fill="#5d5d5d" d="M5161.41,467.077a0.424,0.424,0,0,0-.56,0,0.333,0.333,0,0,0,0,.5l2.81,2.554h-9.27a0.369,0.369,0,0,0-.39.353,0.373,0.373,0,0,0,.39.358h9.27l-2.81,2.549a0.337,0.337,0,0,0,0,.5,0.421,0.421,0,0,0,.56,0l3.47-3.158a0.319,0.319,0,0,0,0-.5Z" transform="translate(-5154 -466.969)"/></svg>');
			vertical-align: middle;
		}

		&:last-child {
			a {
				color: @palette-accent;
			}

			&::after {
				display: inline-block;

				width: 18px;
				height: 10px;
				margin: 0 0 0 10px;

				content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#376aa5" d="M2801.86,476.688l-4.04,4.171a0.435,0.435,0,0,1-.64,0l-4.05-4.171a0.477,0.477,0,0,1,0-.665,0.459,0.459,0,0,1,.65,0l3.26,3.373V471H2788v-1h10v1h-0.05v8.4l3.27-3.373a0.447,0.447,0,0,1,.64,0A0.477,0.477,0,0,1,2801.86,476.688Z" transform="translate(-2788 -470)"/></svg>');
				vertical-align: bottom;
			}
		}

		&:only-child {
			a {
				color: #898989;
			}
		}
	}

	a {
		margin: 0;

		text-decoration: none;

		color: #898989;
		border: 0;

		font-size: 13px;
		font-weight: 500;
		line-height: 1;
	}
}
