/* ------------------------------------------ */
/* CATALOG CATEGORIES BLOCK
/* ------------------------------------------ */
.catalog-categories {
	padding-bottom: 20px;

	div {
		@media (min-width: @screen-md) {
			margin: 0;
			padding: 0;
		}
	}
}

.catalog-categories__item {
	&:nth-child(odd) {
		.catalog-categories__text {
			padding-left: 40px;
		}
	}

	&:nth-child(even) {
		.catalog-categories__text {
			padding-right: 40px;
		}
	}
}
