/* ------------------------------------------ */
/* EVENTS BLOCK
/* ------------------------------------------ */
.events {
	.padding-20;
}

.events__item {
	font-size: 15px;
	line-height: 20px;

	time {
		display: block;

		color: @palette-secondary;

		font-size: 13px;

		.margin-10;
	}
}

.events__more {
	text-align: center;

	.padding-20;
}
