/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
	color: @palette-white;
	border-top: 2px solid #65bbfd;
	background: @palette-quinary;

	.padding-15;

	address {
		margin: 0;

		a {
			text-decoration: none;

			color: @palette-white;
			border: 0;

			&:hover {
				text-decoration: none;

				color: @palette-white;
				border: 0;
			}
		}
	}
}

.footer__navigation {
	padding-top: 5px;

	.menu {
		padding: 0;

		a {
			font-weight: 500;
		}

		&.list-inline {
			& > li {
				padding-right: 35px;
				padding-left: 0;

				&:last-child {
					padding-right: 0;
				}

				@media (min-width: @screen-lg) {
					padding-right: 45px;
				}
			}
		}
	}

	a {
		color: @palette-white;
		border: 0;

		font-size: 13px;
		font-weight: 100;

		&:hover {
			color: #65bbfd;
			border: 0;
		}
	}
}

.footer__contacts {
	padding-top: 5px;
	padding-bottom: 28px;

	font-weight: 500;

	@media (min-width: @screen-sm) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	@media (min-width: @screen-md) {
		padding-top: 20px;
		padding-bottom: 28px;
	}
}

.footer__copyright {
	margin: 0;
	padding-top: 10px;

	text-align: center;

	color: #a2b4c9;
	border-top: 1px solid #a2b4c9;

	font-size: 13px;
	line-height: 1;

	@media (min-width: @screen-sm) {
		text-align: left;
	}

	@media (min-width: @screen-sm) {
		div {
			padding: 0;
		}
	}
}

.footer__form {
	.form-control {
		height: 34px;
	}
}

.footer__developedby {
	text-align: center;

	@media (min-width: @screen-sm) {
		text-align: right;
	}

	a {
		color: #a2b4c9;
		border: 0;

		font-size: 13px;

		&:hover {
			color: @palette-white;
			border-color: @palette-white;
		}
	}
}
