/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
	color: @palette-white;
	background: @palette-quinary;

	.padding-15;

	address {
		margin: 0;

		a {
			text-decoration: none;

			color: @palette-white;
			border: 0;

			&:hover {
				text-decoration: none;

				color: @palette-white;
				border: 0;
			}
		}
	}
}

.footer__navigation {
	padding-top: 5px;

	.menu {
		padding: 0 5px;

		&.list-inline {
			& > li {
				padding-right: 45px;
				padding-left: 0;
			}
		}
	}

	a {
		color: @palette-white;

		font-size: 13px;

		&:hover {
			color: @palette-accent;
			border: 0;
		}
	}
}

.footer__contacts {
	padding-top: 5px;
	padding-bottom: 28px;
}

.footer__copyright {
	padding-top: 10px;

	text-align: center;

	color: #a2b4c9;
	border-top: 1px solid #a2b4c9;

	font-size: 13px;
	line-height: 1;

	@media (min-width: @screen-sm) {
		text-align: left;
	}

	@media (min-width: @screen-sm) {
		div {
			padding: 0;
		}
	}
}

.footer__developedby {
	text-align: center;

	@media (min-width: @screen-sm) {
		text-align: right;
	}

	a {
		color: #a2b4c9;

		&:hover {
			color: @palette-white;
			border: 0;
		}
	}
}
