/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
	padding-bottom: 90px;

	&__container {
		position: relative;
	}

	&--absolute {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 50%;

		width: 100%;

		transform: translateX(-50%);

		color: @palette-white;
	}

	@media (min-width: @screen-sm) {
		padding-top: 20px;

		.navbar-brand {
			padding-bottom: 10px;
			padding-left: 0;
		}
	}

	@media (max-width: @screen-lg) {
		.navbar-toggle {
			position: fixed;
			z-index: 3;
			top: 20px;
			right: 15px;

			margin: 0;

			.icon-bar {
				&:nth-child(1) {
					transform: rotate(45deg) translate(20%, 20%);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: rotate(-45deg) translate(20%, 20%);
				}
			}

			&.collapsed {
				position: relative;
				right: 0;

				@media (min-width: @screen-sm) {
					right: -15px;
				}

				.icon-bar {
					&:nth-child(1) {
						transform: none;
					}
					&:nth-child(2) {
						display: block;
					}
					&:nth-child(3) {
						transform: none;
					}
				}
			}
		}

		.navbar-collapse {
			position: fixed;
			z-index: 2;
			top: 0;
			right: 0;

			width: 75%;
			height: 100vh;
			padding: 40px 25px 0 0;

			text-align: right;

			background: @palette-quinary;

			.in {
				.dropdown {
					display: none;
				}
			}
		}
	}
}

.header__navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.23);
	border-radius: 0;

	.menu {
		& > li {
			margin: 20px 15px 10px;

			& > a {
				color: @palette-white;

				font-size: 13px;

				&:hover {
					color: #1c5699;
					border: 0;
				}
			}
		}
	}

	.header__additional {
		position: absolute;
		top: 30px;
		right: 80px;

		display: inline-block;

		width: 50px;
		margin: 0;
		padding: 0;

		text-align: right;

		@media (min-width: @screen-lg) {
			position: relative;
			top: 0;
			right: 0;

			width: auto;

			text-align: left;
		}

		li {
			width: auto;
		}
	}

	.country {
		font-size: 0;

		a {
			color: @palette-white;
		}

		img {
			width: 23px;
			height: 15px;
			margin-right: 10px;
		}

		span {
			position: relative;
			img {
				margin-right: 30px;
			}

			&:after {
				position: absolute;
				top: 50%;
				right: 10px;

				display: block;

				width: 10px;
				height: 6px;

				content: "";
				transform: translateY(-50%);

				background: url('../images/country/dropdown_arrow.svg');
				background-repeat: no-repeat;
			}
		}

		@media (min-width: @screen-lg) {
			margin: 12px 30px 0 30px;
			padding-left: 24px;

			border-left: 1px solid rgba(255, 255, 255, 0.23);

			font-size: 13px;
		}

		.dropdown-menu,
		.dropdown-menu > li > a,
		.dropdown-menu > li > a:focus,
		.dropdown-menu > li > a:hover,
		.dropdown-toggle,
		.dropdown-toggle:focus,
		.dropdown-toggle:hover,
		.nav .open > a,
		.nav .open > a:focus,
		.nav .open > a:hover {
			width: auto;
			padding: 0;

			border: 0;
			background: transparent;
			box-shadow: none;

			font-size: 0;

			@media (min-width: @screen-lg) {
				font-size: 13px;
			}
		}

		.dropdown-toggle,
		.dropdown-toggle:focus,
		.dropdown-toggle:hover {
			padding-bottom: 12px;
		}

		.dropdown-menu {
			left: 25px;

			padding-left: 0;

			& > li {
				display: block;

				width: 100%;
				margin: 0;
				padding: 12px 0;
			}

			@media (min-width: @screen-lg) {
				padding-left: 0;
			}
		}
	}

	.icon-bar {
		display: block;

		width: 30px;
		height: 2px;
		margin-bottom: 7px;

		background: @palette-white;
	}
}

.header__logo {
	max-width: 160px;
	height: auto;
	min-height: auto;
	max-height: none;

	@media (min-width: @screen-sm) {
		max-width: none;
	}
}

.header__form {
	input {
		padding-bottom: 0;
		padding-left: 0;

		border: 0;
		border-bottom: 1px solid @palette-white;
		border-radius: 0;
		background: transparent;
		box-shadow: none;

		font-size: 13px;
		font-style: italic;
	}

	.input-group-btn {
		padding-left: 15px;

		& > .btn {
			margin: 10px 0 0 0;
			padding: 2px 30px;

			color: @palette-white;
			border: 1px solid @palette-white;
			border-radius: 3px;
			background: transparent;
			box-shadow: none;

			font-size: 12px;
		}
	}
}
