/* ------------------------------------------ */
/* HEADING BLOCK
/* ------------------------------------------ */
.heading {
	padding-top: 20px;

	text-align: center;

	h2 {
		margin: 0;
		padding: 0;

		color: @palette-black;

		font-size: 40px;
		font-weight: 900;
		line-height: 52px;
	}
}
