/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
	padding-top: 20px;
	padding-bottom: 90px;

	&__container {
		position: relative;
	}

	&--slider {
		color: @palette-white;
		background-color: @palette-quinary;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&--slide-1 {
		background-image: url(../images/slider/slider__item-1.png);
	}

	&--slide-2 {
		background-image: url(../images/slider/slider__item-2.png);
	}

	&--slide-3 {
		background-image: url(../images/slider/slider__item-3.png);
	}

	&--slide-4 {
		background-image: url(../images/slider/slider__item-4.png);
	}

	&--slide-5 {
		background-image: url(../images/slider/slider__item-5.png);
	}

	@media (min-width: @screen-sm) {
		.navbar-brand {
			padding-left: 0;
		}
	}
}

.header__navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.23);
	border-radius: 0;

	.menu {
		& > li {
			margin: 20px 15px 10px;

			& > a {
				color: @palette-white;

				font-size: 13px;
			}
		}
	}
}

.header__logo {
	height: auto;
	min-height: auto;
	max-height: none;
}

.header__headings {
	margin-top: 35px;
	margin-bottom: 90px;

	text-align: center;

	h1 {
		margin-bottom: 10px;

		font-size: 61px;
		font-weight: 700;
		line-height: 1;
	}

	h2 {
		margin-top: 0;

		font-size: 20px;
		font-weight: lighter;
	}
}

.header__slides {
	position: absolute;
	right: 15px;
	bottom: 0;

	.header__slide {
		display: none;

		background: @palette-tertiary;

		a {
			display: block;

			padding: 5px 15px;

			color: @palette-white;
			border: 0;

			font-size: 13px;
			line-height: 16px;

			&:hover {
				text-decoration: none;

				border: 0;
			}
		}

		&--active {
			display: block;
		}
	}
}

.header__form {
	input {
		padding-bottom: 0;
		padding-left: 0;

		border: 0;
		border-bottom: 1px solid @palette-white;
		border-radius: 0;
		background: transparent;
		box-shadow: none;

		font-style: italic;
	}

	.input-group-btn {
		padding-left: 15px;

		& > .btn {
			margin: 10px 0 0 0;
			padding: 2px 30px;

			color: @palette-white;
			border: 1px solid @palette-white;
			border-radius: 3px;
			background: transparent;
			box-shadow: none;
		}
	}
}
