/* ------------------------------------------ */
/* PARTNERS BLOCK
/* ------------------------------------------ */
.partners {
	padding-top: 20px;
	padding-bottom: 10px;
}

.partners__item {
	text-align: center;

	.padding-15;

	a {
		display: inline-block;
	}
}
