/* ------------------------------------------ */
/* PROJECTS BLOCK
/* ------------------------------------------ */
.projects {
	text-align: center;

	.padding-20;

	h1 {
		font-size: 14px;
		font-weight: 900;
	}
}
