/* ------------------------------------------ */
/* PROJECTS BLOCK
/* ------------------------------------------ */
.projects {
	.padding-20;

	@media (min-width: @screen-sm) {
		margin-top: -100px;

		text-align: center;
	}

	h1 {
		font-size: 14px;
		font-weight: 900;
	}
}

.projects__items {
	background: @palette-white;

	@media (min-width: @screen-sm) {
		box-shadow: 0 0 25px 10px rgba(18, 56, 98, 0.15);
	}
}

.projects__item {
	padding: 35px 0 0;

	svg {
		width: auto;
		max-width: 100%;
		height: 115px;
	}

	.btn.btn-sm {
		margin: 15px 0 0 0;

		@media (min-width: @screen-sm) {
			margin: 15px auto;
		}
	}

	.projects__item-description {
		& > p {
			display: block;

			margin: 0 auto;

			@media (min-width: @screen-sm) {
				width: 95%;
				height: 85px;

				border-bottom: 4px solid @palette-accent;
			}
		}

		& > h1 {
			min-height: 36px;
			margin: 10px 0;
			padding: 0 30px;

			text-transform: uppercase;

			color: @palette-accent;

			font-size: 14px;
			line-height: 18px;

			a {
				text-decoration: none;

				color: @palette-accent;
				border: 0;
			}

			@media (max-width: @screen-sm) {
				display: inline;

				margin: 0;
				padding: 0;

				text-align: left;
				text-transform: none;

				font-weight: 600;
			}
		}
	}

	@media (min-width: @screen-sm) {
		&:hover {
			.projects__hover {
				display: block;

				-webkit-animation-name: zoomIn;
				        animation-name: zoomIn;
				-webkit-animation-duration: 0.7s;
				        animation-duration: 0.7s;
			}

			h1 {
				position: relative;

				a {
					position: absolute;
					z-index: 3;
					left: 50%;

					transform: translateX(-50%);
					text-decoration: none;
					text-transform: uppercase;

					color: @palette-white;
					border: 0;

					font-size: 14px;
					line-height: 18px;

					&:hover {
						border-bottom: 1px dotted @palette-white;
					}
				}
			}
		}
	}
}

@media (min-width: @screen-sm) {
	.projects__hover {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;

		display: none;

		width: 100%;
		height: 100%;
		padding: 20px 15px;

		text-align: center;

		color: @palette-white;
		background: #185194 url(./images/key-projects/key-projects__hover--bg.png) repeat;

		& > p {
			text-align: left;
		}

		@media (min-width: @screen-lg) {
			left: -5%;

			width: 110%;
		}
	}
}
