/* ------------------------------------------ */
/* PROJECTS BLOCK
/* ------------------------------------------ */
.projects {
	margin-top: -100px;

	text-align: center;

	.padding-20;

	h1 {
		font-size: 14px;
		font-weight: 900;
	}
}

.projects__items {
	background: @palette-white;
	box-shadow: 0 0 25px 10px rgba(18, 56, 98, 0.15);
}

.projects__item {
	padding: 35px 0 0;

	svg {
		width: auto;
		max-width: 100%;
		height: 115px;
	}

	& > p {
		display: block;

		width: 95%;
		height: 85px;
		margin: 0 auto;

		border-bottom: 4px solid @palette-accent;
	}

	& > h1 {
		min-height: 36px;
		margin: 10px 0;
		padding: 0 30px;

		text-transform: uppercase;

		font-size: 14px;
		line-height: 18px;
	}

	&:hover {
		.projects__hover {
			display: block;
		}

		& > h1 {
			span {
				position: absolute;
				z-index: 3;
				left: 0;

				width: 100%;
				padding: 0 30px;

				text-transform: uppercase;

				color: @palette-white;

				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.projects__hover {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;
	padding: 20px 15px;

	text-align: center;

	color: @palette-white;
	background: #185194 url(http://www.stripemania.com/stripenova-v.1.3.php?width=6&space=2&orient=45&ornum=1&bgcol=1C5699&colors=1&c1=124B8E&c2=DDEE1E&c3=DDEE1E&c4=DDEE1E&c5=DDEE1E&g1=124B8E&g2=78D316&g3=78D316&g4=78D316&g5=78D316&ig1=yes&ig2=yes&ig3=yes&ig4=yes&ig5=yes&download=1) repeat;

	& > p {
		text-align: left;
	}

	@media (min-width: @screen-lg) {
		left: -5%;

		width: 110%;
	}
}
