/* ------------------------------------------ */
/* TECHNOLOGY BLOCK
/* ------------------------------------------ */
.technology {
	padding-top: 15px;
	padding-bottom: 50px;

	h4 {
		font-size: 21px;
		font-weight: 900;
		line-height: 36px;
	}
}

.technology__slider {
	margin-top: 20px;
	margin-bottom: 30px;
}

.technology__about-item {
	color: @palette-black;

	@media (min-width: @screen-md) {
		padding-right: 60px;
	}
}

.technology__more {
	padding-top: 40px;

	text-align: center;
}
