/* ------------------------------------------ */
/* TECHNOLOGY BLOCK
/* ------------------------------------------ */
.technology {
	padding-top: 15px;
	padding-bottom: 50px;

	h2 {
		font-size: 15px;
		line-height: 22px;

		@media (min-width: @screen-sm) {
			font-size: 30px;
			line-height: 36px;
		}
	}

	h4 {
		font-size: 21px;
		font-weight: 900;
		line-height: 36px;
	}

	h3 {
		margin: 0;
		margin-bottom: 30px;

		font-size: 15px;
		font-weight: 400;
		line-height: 22px;

		@media (min-width: @screen-sm) {
			font-size: 21px;
			line-height: 26px;
		}
	}
}

.technology__slider {
	margin-top: 20px;
	margin-bottom: 30px;
}

.technology__about-item {
	color: @palette-black;

	@media (min-width: @screen-md) {
		padding-right: 60px;
	}
}

.technology__more {
	padding-top: 40px;

	text-align: center;
}
