/* ------------------------------------------ */
/* USAW BLOCK
/* ------------------------------------------ */
.usaw {
	padding-top: 30px;
	padding-bottom: 30px;

	border-top: 1px solid #e1e1e1;

	h1 {
		font-size: 15px;
		line-height: 18px;
	}

	h2 {
		margin-bottom: 0;
	}
}
