/* ------------------------------------------ */
/* USED IN PROJECTS BLOCK
/* ------------------------------------------ */
.usedin-projects {
	position: relative;

	padding-top: 30px;
	padding-bottom: 10px;

	&--bordered {
		&:before {
			position: absolute;

			display: block;

			width: calc(~"100% - 30px");
			margin-top: -40px;

			content: "";

			border-top: 1px solid #e1e1e1;
		}
	}

	.project__item {
		@media (min-width: @screen-sm) {
			min-height: 340px;
		}
	}
}
